.right {
    padding-bottom: 12px;
    background-color: rgb(184, 213, 184);
    width: 170px;
    border-radius: 10px;
    height: 150px;
    h3 {
      color: whitesmoke;
      padding: 5px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      color: rgb(68, 68, 68);
      text-align: left;
      font-size: 17px;
      padding-left: 10px;
      font-weight: 700;
    }
    div {
      border-radius: 7px;
      background-color: rgb(5, 168, 170);
      width: inherit;
    }
  }
  

  .right2 {
    padding-bottom: 12px;
    background-color: rgb(220, 96, 46);
    width: 170px;
    border-radius: 10px;
    height: 150px;
    h3 {
      color: whitesmoke;
      padding: 5px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      color: rgb(68, 68, 68);
      text-align: left;
      font-size: 17px;
      color: white;
      padding-left: 10px;
      font-weight: 700;
    }
    div {
      border-radius: 7px;
      background-color: rgb(188, 65, 43);
      width: inherit;
    }
  }
