.wrapper {
  margin: 0 auto;
  text-align: center;
}

.wrapper__inner {
  display: flex;
  flex-direction: row;
}


.mouseBody {
  width: 40vw;
  height: auto;
  margin: 0 auto;
}

.fnaticW {
  color: white;
}
.fnaticB {
  color: black;
}
button {
  width: 55px;
  height: 25px;
  background-color: rgb(185, 185, 185);
  color: white;
  border-radius: 3px;
  margin-left: 5px;
  border: none;
  box-shadow: 1 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
  transition: box-shadow 0.5s ease; /* Анимация изменения тени */
  cursor: pointer;
}

.textBlack {
  color: black;
  background-color: rgba(255, 255, 255, 0.959);
}

.textWhite {
  color: white;
  background-color:rgba(0, 0, 0, 0.884);
}