.resetButton {
    position: absolute;
    top: 40%;
    left:50.3%;
    transform: translate(-50%, -50%);
    width: 7%; /* Пример ширины кнопки (установите подходящее значение) */
    height: auto;
    cursor: pointer;
  }

  .resetButton2 {
    position: absolute;
    top: 40%;
    left:50.3%;
    transform: translate(-50%, -50%);
    width: 7%; /* Пример ширины кнопки (установите подходящее значение) */
    height: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.705);
  }
