.flexBlock {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.header {
  h1 {
    font-size: 2em;
    color: #444444;
    font-family: "Lato", sans-serif;
    color: #444444;
    letter-spacing: 1px;
    user-select: none;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: -15px;
  }
}

.container__display {
  text-align: center;
  align-items: center;
  display: flex;
  min-width: 220px;
  padding-top: 10px;

  justify-content: space-around;
}

.resetBtn {
  background-color: rgb(220, 96, 46);
  margin-top: 15px;
  cursor: pointer;
  color: white;
  height: 30px;
  width: 60px;
  background-color: #dc602e;
  display: flex;
  font-size: 16px;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  margin-left: 15px;
}
