.leftButtonR {
   position: absolute;
   top: 21.8%;
   left: 30.4%;
   transform: translate(-50%, -50%);
   width: 43%;
   height: auto;
   opacity: 0.5;
   cursor: pointer;
   transition: opacity 0.5s ease; /* добавляем анимацию перехода для свойства opacity */
}

.leftButtonR:active {
   opacity: 1; /* устанавливаем новое значение прозрачности при активации (нажатии) */
}

.leftButtonW {
   position: absolute;
   top: 21.8%;
   left: 30.4%;
   transform: translate(-50%, -50%);
   width: 43%; /* Пример ширины кнопки (установите подходящее значение) */
   height: auto;
   opacity: 0;
   cursor: pointer;
   transition: opacity 0.3s ease; /* добавляем анимацию перехода для свойства opacity */
}

.leftButtonW:active {
   opacity: 1; /* устанавливаем новое значение прозрачности при активации (нажатии) */
}
