.rightClickWrapper {
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 15px;
  padding-right: 20px;
  border-radius: 12px;
  flex: 1; /* Равномерное распределение пространства между элементами */
  text-align: left;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 8px; /* Если нужен скругленный угол */
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.4); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */

  @media (max-width: 728px) {
    font-size: 10px;
    padding-left: 5px;
    height: 150px;
    padding-right: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }

  span {
    font-weight: 700;
    font-size: 17px;
  }
}


.rightClickWrapper2 {
  padding-left: 30px;
  padding-right: 15px;
  padding-right: 20px;
  border-radius: 12px;
  margin-left: 20px;
  flex: 1; /* Равномерное распределение пространства между элементами */
  text-align: left;
  margin-bottom: 30px;
  background-color: rgb(255, 137, 91);
  border-radius: 8px; /* Если нужен скругленный угол */
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.4); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */

  @media (max-width: 728px) {
    font-size: 10px;
    padding-left: 5px;
    height: 150px;
    padding-right: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }

  span {
    font-weight: 700;
    font-size: 17px;
  }
}

.rightClickWrapper3 {
  padding-left: 30px;
  padding-right: 15px;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  flex: 1; /* Равномерное распределение пространства между элементами */
  background-color: beige;
  text-align: left;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 8px; /* Если нужен скругленный угол */
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.4); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */

  @media (max-width: 728px) {
    font-size: 10px;
    padding-left: 5px;
    height: 150px;
    padding-right: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }

  span {
    font-weight: 700;
    font-size: 17px;
  }
}


.rightClickWrapper4 {
  padding-left: 30px;
  padding-right: 15px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 12px;
  flex: 1; /* Равномерное распределение пространства между элементами */
  background-color: beige;
  text-align: left;
  margin-bottom: 30px;
  background-color: #f5f5f5; /* Цвет фона вашего блока */
  border-radius: 8px; /* Если нужен скругленный угол */
  box-shadow: 0  11px 11px rgba(255, 255, 255, 0.4); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */

  @media (max-width: 728px) {
    font-size: 10px;
    padding-left: 5px;
    height: 150px;
    padding-right: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }

  span {
    font-weight: 700;
    font-size: 17px;
  }
}




.inputz {
  display: flex;
  
  input {
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    font-size: 10px;
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
    transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  }
  margin-bottom: 25px;
}

.inputz2 {
  display: flex;

  margin-bottom: 25px;
  input {
    outline: none; /* Убираем обводку при фокусе */
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    font-size: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
    transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  }
}
input::placeholder {
  color: #999; /* Цвет текста placeholder */
  font-style: italic; /* Стиль шрифта (курсив, например) */
  /* Другие стили, такие как размер шрифта, выравнивание и т.д. */
}
textarea::selection {
  background-color: #3498db;
  color: #fff;
}

.modal {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  display: block;
  position: fixed;
  z-index: 1;
  left: 37%;
  top: 43%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addButton {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  border-radius: 3px;
  margin-left: 5px;
  border: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  @media (max-width: 559px) {
    font-size: 8px;
    width: 40px;
    border-radius: 5px;
  }
}
.addButton2 {
  width: 100px;
  margin-left: 5px;
  background-color: rgb(220, 96, 46);
  color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3); /* Параметры тени */
  transition: box-shadow 0.3s ease; /* Анимация изменения тени */
  @media (max-width: 559px) {
    font-size: 8px;
    width: 40px;
    border-radius: 5px;
  }
}

.red2 {
  color: white;
}

.red {
  color: black;
}

.closeTag {
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
}
