.resetBtn {
    background-color: rgb(220, 96, 46);
    margin-top: 77px;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 60px;
    background-color: #dc602e;
    display: flex;
    font-size: 16px;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    margin-left: 15px;
  }
  